/*
Global Header Styling
*/

/* -- Was used to fix old drawer
.mdl-layout__drawer-button {
    padding-top: 11px;
}
*/

#black {
    color: black;
}

#profile {
    border-style: solid;
    border-color: white;
    border-width: .5px;
    height: 75%;
}

#profile-article {
    border-style: solid;
    border-color: black;
    border-width: .5px;
    height: 75%;
    color: black;
}

.img{
    max-width: 100%;
    max-height: 100%;
}

.search-field {
    margin-left: 40% !important;
}


.mdl-layout__header-row {
    width: 100%;
}

.profile_icon {
    height: 40px;
    width: 40px;
}

/*
Global Comments Styling
*/

.commenter-profile-picture {
    float: left;

    margin-left: 5px;
    margin-top: 5px;

    background-color: black;
}

.commenter-name {
    float: left;
    
    padding-left: 5px;
    padding-top: 9px;
    
    font-weight: bold;
}

/*
Home Page Styling
*/

.article-comments .top-comment {
    background-color: lightgrey;
}

.article-title {
    padding-bottom: 4px !important;
}

.article-blurb {
    max-height: 145px;
}


/*
Comment bar styles
*/

.comments-bar{
    padding: 20px;
}
