/*
Global Comments Styling
*/

.commenter-profile-picture {
    float: left;

    margin-left: 5px;
    margin-top: 5px;

    background-color: black;
}

.commenter-name {
    float: left;
    
    padding-left: 5px;
    padding-top: 9px;
    
    font-weight: bold;
}

/*
Home Page Styling
*/

.article-comments .top-comment {
    background-color: lightgrey;
}

.article-title {
    max-height: 30px;
}

.article-blurb {
    max-height: 145px;
}
