/*
Global Styling
*/


body {
    margin: 0px;
    font-family: Trebuchet MS;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/*
Global Header Styling
*/

.header {
    float: left;
    width: 99%;
    height: 70px;
    background-color: lightblue;   
}

.header #logopic {
    width: 60px;
    height: 60px;
    line-height: 50%;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

.header .topnav {
    float: right;
    width: 100px;
    height: 40px;
    margin-top: 25px;
    margin-right: 10px;
}

.header #search {
    border-radius: 10px;
    float: right;
}

.header #profile {
    height: 60px;
    width: 60px;
    float: right;
    background-color: black;
    margin-top: 5px;
    color: white;
}

/*
Global Comments Styling
*/

.picture-placeholder {
    float: left;
    width: 25px;
    height: 25px;;
    background-color: black;
    color: white;
    font-size: 8pt;
}

.commenter-name {
    float: left;
    font-weight: bold;
    margin-left: .5%;
    padding-top: 2px;
}


/*
Home Page Styling
*/


.home-inner {
    margin-left: 12.5%;
    float: left;
    width: 75%;
    height: 100%;
    background-color: #f2f2f2;
}

.home-inner .home-article {
    width: 100%;
    height: 380px;
    background-color: lightgrey;
    margin-top: 3%;
}

.home-inner .article-title {
    padding-top: 10px;                    
    padding-left: 10px;
    width: 100%;
    height: 80px;
    font-size: 25pt;
    font-weight: bold;
    text-decoration: underline;
}

.home-inner .article-blurb {
    width: 75%;
    height: 150px;
    border-color: black;
    border-width: 1.5px;
    border-style: solid;
    margin-left: 2.5%;
}

.home-inner .article-comments {
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    font-size: 16pt;
    height: 25%;
    width: 75%;
}

.home-inner .top-comment {
    float: left;
    width: 75%;
    height: 25%;
    border-style: solid;
    border-color: black;
    margin-left: 2.5%;
    margin-top: .5%;
    font-size: 12pt;
}

.home-inner .comment-summary {
    float: left;
    margin-left: 0.5%;
    padding-top: 2px;
}


/*
Article Page Styling
*/


.article-inner {
    margin-left: 12.5%;
    float: left;
    width: 75%;
}

.article-inner > .article { 
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
}

.article-inner .article-comments {
    background-color:#f2f2f2;
    height: 20%;
}

.article-inner #comments-header {
    padding-left: 10px;
}

.article-inner .article-comment {
    float: left;
    width: 75%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-left: 2.5%;
    margin-top: .5%;
    font-size: 12pt;
}

.article-inner .comment-content {
    float: left;
    margin-left: 0.5%;
    padding-top: 2px;
}
