.article_full_image {
    min-height: 300px;
  background: url('../media/lead_960.jpg') center / cover;
}

.content-column {
    overflow-y: scroll !important;
    padding-left: 15pt;
    padding-right: 15pt;
    padding-top: 32pt;
    background-color: lightgrey !important;
}

.content-title {
    font-family: 'Libre Baskerville', serif;
    line-height: 105%;
    font-weight: bold;
    font-size:  30pt;
}

.article {
    font-family: 'Mukta Malar', sans-serif;
}

.content-blurb {
    font-family: 'Mukta Malar', sans-serif;
}

#video-size {
    width: 100% !important;
}

.content-column::-webkit-scrollbar { width: 0 !important }

#byline{
    font-weight: 400 !important;
}

.comment-title{
    font-family: 'Libre Baskerville', serif !important;
    font-size: 30px;
    font-style: italic;
    line-height: 40px;
    margin: 24px 0;
}